{% extends "base_generic.html" %}
{% block content %}
{% load bootstrap3 %}

</br></br></br></br>
<h1>Password Reset</h1>
<p>Forget your password? No worries!</p>
<br>

<p>Please enter your email address below:</p>

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
	
<div>
{% buttons %}
<button type="submit" class="btn btn-primary" value="Reset password" />
 {% bootstrap_icon "ok" %}Reset password
		</button>
		{% endbuttons %}
</div>	
</form>

{% endblock %}