
<html lang="en">
<head>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
  
  {% block title %}<title>BCSH Foodie Guide</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link href="http://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
  
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwyamDxQCDWiYgLxDKTewdRHYdVSsBhXk&callback=initMap">
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// Getting a cookie by name
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
 
// Setup AJAX
$(function () {
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});
</script>
  
</head>

<body>
   <div class="container">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BCSH Foodie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant-random' %}">PICK A RESTAURANT FOR ME!</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Details</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'restaurants' %}">All Restaurants</a>
              <a class="dropdown-item" href="{% url 'categories' %}">All Categories</a>
            </div>
			</ul>
          </li>
		  
		  <ul class="navbar-nav">
		  {% if user.is_authenticated %}
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{% url 'my-fav-res' %}">My Restaurant Profile</a>
              <a class="dropdown-item" href="{% url 'community' %}">Community Status</a>
			  <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
			  <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            </div>
          </li>
		  {% else %}
		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Have an account?</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'login'%}?next={{request.path}}">Log in</a>
              <a class="dropdown-item" href="{% url 'user-signup' %}">Sign up</a>
            </div>
          </li>
		  </ul>
		  {% endif %}
        
		</div>
      </div>
    </nav>
	
    <div class="container">
    <div class="row">
      
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>
	
	<hr>

      <footer>
        <p>&copy; BCSH Foodie Guide 2017</p>
      </footer>

  </div>
  
</body>
</html>