{% extends "base_generic.html" %}

{% block content %}
</br></br>
    <h1>Category List</h1>

    {% if category_list %}
    <ul>

      {% for c in category_list %}
      <li>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
      </li>
      {% endfor %}
	  
	  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

    </ul>
    {% else %}
      <p>There are no category in the record.</p>
    {% endif %}       
{% endblock %}