{% extends "base_generic.html" %}
{% block content %}
{% load bootstrap3 %}
	
	</br></br></br></br>
    <h1>Note for restaurant: <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a></h1>
    <p>Commentor: {{ user.username }}</p>
    
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
		</br>
		{% buttons %}
		<button type="submit" class="btn btn-primary" value="Submit" />
		{% bootstrap_icon "ok" %} Submit
		</button>
		{% endbuttons %}
        <!-- input type="submit" value="Submit" /> -->
    </form>

{% endblock %}