{% extends "base_generic.html" %}
{% load bootstrap3 %}

{% block content %}
</br></br>
<h1>BCSH Foodie Home</h1>

  <p>Welcome to <em>BCSH Foodie Guide</em>, a very basic site that can help you navigate restaurants around the BCSH area.</p>
  <p><em>BCSH: Bryan/College Station, and... Houston!</p>
  <p>The dataset is last updated in September 2017.</p>

  <a href="/"><img src="https://image.ibb.co/iH7VB5/636201892575795318_861220656_food.jpg" alt="Food" style="width:304px;height:228px;"></a>
  </br> </br>
  
  <form action={% url 'restaurant-random' %}>
  {% buttons %}
		<button type="submit" class="btn btn-primary" value="PICK A RESTAURANT FOR ME PLEASE!!!" />
		{% bootstrap_icon "thumbs-up" %} PICK A RESTAURANT FOR ME PLEASE!!!
		</button>
	{% endbuttons %}
	</form>
  
<h2>Dynamic counts</h2>

  <p>The guide has the following record counts:</p>
  <ul>
    <li><strong>Categories:</strong> {{ num_category }}</li>
    <li><strong>Restaurants:</strong> {{ num_restaurant }}</li>
    <li><strong>Restaurants in the Bryan/College Station area:</strong> {{ num_bcs_res }}</li>
    <li><strong>Yelp Reviews:</strong> {{ num_yelp_review }}</li>
  </ul>
  
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}